.text-center[data-v-55d1f438]{text-align:center}.mt[data-v-55d1f438]{margin-top:1rem}.btn-bottom[data-v-55d1f438]{position:absolute;bottom:0;width:100%}.link-forget[data-v-55d1f438]{text-align:center;display:block;margin-top:2rem}